*.qdf
*.qws
project/target
quartus/c5_pin_model_dump.txt
quartus/db
quartus/incremental_db
quartus/jtag.cdf
quartus/output_files
quartus/rtl/ChiselTop.v
quartus/rtl/*.anno.json
quartus/rtl/*.fir
target
test_run_dir
